{% extends 'craft-commerce-back-in-stock/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% requireAdmin %}

{% set selectedTab = selectedTab ?? craft.app.request.getSegment(3) %}
{% set selectedTab = selectedTab ?: 'general' %}
{% set fullPageForm = true %}
{% set pageTabs = {
    general: { title: 'General Settings' | t('craft-commerce-back-in-stock'), url: url('back-in-stock/settings') },
    notifications: { title: 'Notifications' | t('craft-commerce-back-in-stock'), url: url('back-in-stock/settings/notifications') },
} %}
{% set pageTitle = pageTabs[selectedTab].title ?? pageTabs[selectedTab].heading ?? null %}
{% if not pageTitle %}{% exit 404 %}{% endif %}
{% set pageAction = 'craft-commerce-back-in-stock/plugin/save-plugin-settings' %}
{% set pageUrl = selectedTab == 'general' ? 'back-in-stock/settings' : 'back-in-stock/settings/' ~ selectedTab %}

{% block settingsContent %}
    {% include 'craft-commerce-back-in-stock/settings/_panes/' ~ selectedTab ignore missing %}
{% endblock %}
